# MSDS 7331 Mini - Project 1  

## SVM and Logistic Modeling

Professor: Dr. Jake Drew  
Team: Steven Hayden, Josephine MacDaniel, Korey MacVittie, Afreen Siddiqui, Eduardo Cantu

## Models

In [44]:
#load Libraries
import pandas as pd
import numpy as np
import seaborn as seaborn
import matplotlib.pyplot as plt
import matplotlib as mp1
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score


#Load Data
Accident_df = pd.read_csv('https://raw.githubusercontent.com/ecantu75/DataMining_Lab1/master/Data/accident_2016.csv',low_memory=False)

### Data Cleaning

In [4]:
# Displays the record count of non-null Values per attribute and their data type. 
Accident_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15855 entries, 1 to 34438
Data columns (total 75 columns):
Unnamed: 0                                                     15855 non-null int64
state_number                                                   15855 non-null int64
state_name                                                     15855 non-null object
consecutive_number                                             15855 non-null int64
number_of_vehicle_forms_submitted_all                          15855 non-null int64
number_of_motor_vehicles_in_transport_mvit                     15855 non-null int64
number_of_parked_working_vehicles                              15855 non-null int64
number_of_forms_submitted_for_persons_not_in_motor_vehicles    15855 non-null int64
number_of_persons_not_in_motor_vehicles_in_transport_mvit      15855 non-null int64
number_of_persons_in_motor_vehicles_in_transport_mvit          15855 non-null int64
number_of_forms_submitted_for_persons_in_motor_vehicles        15855 non-null int64
county                                                         15855 non-null int64
city                                                           15855 non-null int64
day_of_crash                                                   15855 non-null int64
month_of_crash                                                 15855 non-null int64
year_of_crash                                                  15855 non-null int64
day_of_week                                                    15855 non-null int64
hour_of_crash                                                  15855 non-null timedelta64[ns]
minute_of_crash                                                15855 non-null timedelta64[ns]
national_highway_system                                        15855 non-null int64
land_use                                                       15855 non-null int64
land_use_name                                                  15855 non-null object
functional_system                                              15855 non-null int64
functional_system_name                                         15855 non-null object
ownership                                                      15855 non-null int64
ownership_name                                                 15855 non-null object
route_signing                                                  15855 non-null int64
route_signing_name                                             15855 non-null object
trafficway_identifier                                          15855 non-null object
trafficway_identifier_2                                        4010 non-null object
milepoint                                                      15855 non-null int64
latitude                                                       15855 non-null float64
longitude                                                      15855 non-null float64
special_jurisdiction                                           15855 non-null int64
special_jurisdiction_name                                      15855 non-null object
first_harmful_event                                            15855 non-null int64
first_harmful_event_name                                       15855 non-null object
manner_of_collision                                            15855 non-null int64
manner_of_collision_name                                       15855 non-null object
relation_to_junction_within_interchange_area                   15855 non-null object
relation_to_junction_specific_location                         15855 non-null int64
relation_to_junction_specific_location_name                    15855 non-null object
type_of_intersection                                           15855 non-null object
work_zone                                                      15855 non-null object
relation_to_trafficway                                         15855 non-null int64
relation_to_trafficway_name                                    15855 non-null object
light_condition                                                15855 non-null int64
light_condition_name                                           15855 non-null object
atmospheric_conditions_1                                       15855 non-null int64
atmospheric_conditions_1_name                                  15855 non-null object
atmospheric_conditions_2                                       15855 non-null int64
atmospheric_conditions_2_name                                  15855 non-null object
atmospheric_conditions                                         15855 non-null int64
atmospheric_conditions_name                                    15855 non-null object
school_bus_related                                             15855 non-null object
rail_grade_crossing_identifier                                 15855 non-null object
hour_of_notification                                           15855 non-null int64
minute_of_notification                                         15855 non-null int64
hour_of_arrival_at_scene                                       15855 non-null timedelta64[ns]
minute_of_arrival_at_scene                                     15855 non-null timedelta64[ns]
hour_of_ems_arrival_at_hospital                                15855 non-null int64
minute_of_ems_arrival_at_hospital                              15855 non-null int64
related_factors_crash_level_1                                  15855 non-null int64
related_factors_crash_level_1_name                             15855 non-null object
related_factors_crash_level_2                                  15855 non-null int64
related_factors_crash_level_2_name                             15855 non-null object
related_factors_crash_level_3                                  15855 non-null int64
related_factors_crash_level_3_name                             15855 non-null object
number_of_fatalities                                           15855 non-null int64
number_of_drunk_drivers                                        15855 non-null int64
timestamp_of_crash                                             15855 non-null object
Fatalities_ratio                                               15855 non-null float64
Crash_Time                                                     15855 non-null timedelta64[ns]
Arrival_Time                                                   15855 non-null timedelta64[ns]
Response_Time                                                  15855 non-null timedelta64[ns]
dtypes: float64(3), int64(40), object(25), timedelta64[ns](7)
memory usage: 9.2+ MB

In [45]:
#Remove any recoreds without  time informaiton for arival and crash time
count_no_rec= Accident_df[(Accident_df['hour_of_crash']>24) | (Accident_df['hour_of_arrival_at_scene']>24)]
Accident_df = Accident_df[(Accident_df['hour_of_crash']<=24) & (Accident_df['hour_of_arrival_at_scene']<=24)]
print(count_no_rec.consecutive_number.count(), 'records were removed due to missing time data.')

18584 records were removed due to missing time data.

In [46]:
# Add a new Feature. This is the ratio between the number of fatalities and the people involved in the accident.
Accident_df['Fatalities_ratio'] = Accident_df.number_of_fatalities/(Accident_df.number_of_persons_not_in_motor_vehicles_in_transport_mvit + Accident_df.number_of_persons_in_motor_vehicles_in_transport_mvit)

#Converts hour and min to datetime type
#crash
Accident_df.hour_of_crash = pd.to_timedelta(Accident_df.hour_of_crash,unit ='h')
Accident_df.minute_of_crash= pd.to_timedelta(Accident_df.minute_of_crash,unit ='m')
#arrival
Accident_df.hour_of_arrival_at_scene = pd.to_timedelta(Accident_df.hour_of_arrival_at_scene,unit ='h')
Accident_df.minute_of_arrival_at_scene = pd.to_timedelta(Accident_df.minute_of_arrival_at_scene,unit ='m')

#concatenates Hour and Minutes together 
Accident_df['Crash_Time'] = Accident_df['hour_of_crash'] + Accident_df['minute_of_crash'] 
Accident_df['Arrival_Time'] = Accident_df['hour_of_arrival_at_scene'] + Accident_df['minute_of_arrival_at_scene']
#creates a response_time variable from the two fields above and converts to min
Accident_df['Response_Time'] = Accident_df['Arrival_Time'] - Accident_df['Crash_Time']
total_response_time_in_min = pd.DatetimeIndex(Accident_df['Response_Time'])
Accident_df['Response_Time']= total_response_time_in_min.hour * 60 + total_response_time_in_min.minute


#gut check of calculation 
Accident_df[['hour_of_crash','minute_of_crash','Crash_Time','hour_of_arrival_at_scene','minute_of_arrival_at_scene','Arrival_Time','Response_Time']].head()

,hour_of_crash,minute_of_crash,Crash_Time,hour_of_arrival_at_scene,minute_of_arrival_at_scene,Arrival_Time,Response_Time
1,02:00:00,00:33:00,02:33:00,03:00:00,00:25:00,03:25:00,52
12,01:00:00,00:39:00,01:39:00,01:00:00,00:46:00,01:46:00,7
33,18:00:00,00:58:00,18:58:00,18:00:00,00:31:00,18:31:00,1413
40,20:00:00,00:00:00,20:00:00,19:00:00,00:38:00,19:38:00,1418
54,19:00:00,00:26:00,19:26:00,19:00:00,00:39:00,19:39:00,13

The National Fire Protection Association's (NFPA) has established standard for response time and procedures for Emergency Medical Service (EMS) to adhere to. 

From EMSword.com "The NFPA 1710 standard is based upon a combination of accepted practices and more than 30 years of study, research, testing and validation. Members of the 1710 committee that developed the standard include representatives from various fire agencies and the International Association of City/County Managers (ICMA)."

The NFPA 1710 standard allows for a one-minute call evaluation and preparation, four minutes for the arrival of a unit with first responder. For a situation that requires an advanced life support equipment like an ambulance, their standard is 8 minutes after the call preparation.  

We chose to use their standards as threshold to determine if the paramedics got to the scene of the accident in time. This would be a binary response 0, for not arriving within 9 minutes of the accident and 1 for being within the 9 minutes. 
Source: https://www.emsworld.com/article/10324786/ems-response-time-standards

In [49]:
#creates the binary variable 'within 9 minutes NFPA standard'
Accident_df['within 9 minutes NFPA standard'] = np.where(Accident_df['Response_Time']<=9,1,0)

    Response_Time  within 9 minutes NFPA standard
1              52                               0
12              7                               1
33           1413                               0
40           1418                               0
54             13                               0

### Logistic Regression Model

### Support Vector Machine Model

## Model Discussion

## Logistic Regression Weight Interpretation

## Insights based on the Classification Task