# MSDS 7331 Mini - Project 1  

## SVM and Logistic Modeling

Professor: Dr. Jake Drew  
Team: Steven Hayden, Josephine MacDaniel, Korey MacVittie, Afreen Siddiqui, Eduardo Cantu

## Models

In [1]:
#load Libraries
import pandas as pd
import numpy as np
import seaborn as seaborn
import matplotlib.pyplot as plt
import matplotlib as mp1
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score


#Load Data
Accident_df = pd.read_csv('https://raw.githubusercontent.com/ecantu75/DataMining_Lab1/master/Data/accident_2016.csv',low_memory=False)

### Data Cleaning

In [4]:
# Displays the record count of non-null Values per attribute and their data type. 
Accident_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15855 entries, 1 to 34438
Data columns (total 75 columns):
Unnamed: 0                                                     15855 non-null int64
state_number                                                   15855 non-null int64
state_name                                                     15855 non-null object
consecutive_number                                             15855 non-null int64
number_of_vehicle_forms_submitted_all                          15855 non-null int64
number_of_motor_vehicles_in_transport_mvit                     15855 non-null int64
number_of_parked_working_vehicles                              15855 non-null int64
number_of_forms_submitted_for_persons_not_in_motor_vehicles    15855 non-null int64
number_of_persons_not_in_motor_vehicles_in_transport_mvit      15855 non-null int64
number_of_persons_in_motor_vehicles_in_transport_mvit          15855 non-null int64
number_of_forms_submitted_for_persons_in_motor_vehicles        15855 non-null int64
county                                                         15855 non-null int64
city                                                           15855 non-null int64
day_of_crash                                                   15855 non-null int64
month_of_crash                                                 15855 non-null int64
year_of_crash                                                  15855 non-null int64
day_of_week                                                    15855 non-null int64
hour_of_crash                                                  15855 non-null timedelta64[ns]
minute_of_crash                                                15855 non-null timedelta64[ns]
national_highway_system                                        15855 non-null int64
land_use                                                       15855 non-null int64
land_use_name                                                  15855 non-null object
functional_system                                              15855 non-null int64
functional_system_name                                         15855 non-null object
ownership                                                      15855 non-null int64
ownership_name                                                 15855 non-null object
route_signing                                                  15855 non-null int64
route_signing_name                                             15855 non-null object
trafficway_identifier                                          15855 non-null object
trafficway_identifier_2                                        4010 non-null object
milepoint                                                      15855 non-null int64
latitude                                                       15855 non-null float64
longitude                                                      15855 non-null float64
special_jurisdiction                                           15855 non-null int64
special_jurisdiction_name                                      15855 non-null object
first_harmful_event                                            15855 non-null int64
first_harmful_event_name                                       15855 non-null object
manner_of_collision                                            15855 non-null int64
manner_of_collision_name                                       15855 non-null object
relation_to_junction_within_interchange_area                   15855 non-null object
relation_to_junction_specific_location                         15855 non-null int64
relation_to_junction_specific_location_name                    15855 non-null object
type_of_intersection                                           15855 non-null object
work_zone                                                      15855 non-null object
relation_to_trafficway                                         15855 non-null int64
relation_to_trafficway_name                                    15855 non-null object
light_condition                                                15855 non-null int64
light_condition_name                                           15855 non-null object
atmospheric_conditions_1                                       15855 non-null int64
atmospheric_conditions_1_name                                  15855 non-null object
atmospheric_conditions_2                                       15855 non-null int64
atmospheric_conditions_2_name                                  15855 non-null object
atmospheric_conditions                                         15855 non-null int64
atmospheric_conditions_name                                    15855 non-null object
school_bus_related                                             15855 non-null object
rail_grade_crossing_identifier                                 15855 non-null object
hour_of_notification                                           15855 non-null int64
minute_of_notification                                         15855 non-null int64
hour_of_arrival_at_scene                                       15855 non-null timedelta64[ns]
minute_of_arrival_at_scene                                     15855 non-null timedelta64[ns]
hour_of_ems_arrival_at_hospital                                15855 non-null int64
minute_of_ems_arrival_at_hospital                              15855 non-null int64
related_factors_crash_level_1                                  15855 non-null int64
related_factors_crash_level_1_name                             15855 non-null object
related_factors_crash_level_2                                  15855 non-null int64
related_factors_crash_level_2_name                             15855 non-null object
related_factors_crash_level_3                                  15855 non-null int64
related_factors_crash_level_3_name                             15855 non-null object
number_of_fatalities                                           15855 non-null int64
number_of_drunk_drivers                                        15855 non-null int64
timestamp_of_crash                                             15855 non-null object
Fatalities_ratio                                               15855 non-null float64
Crash_Time                                                     15855 non-null timedelta64[ns]
Arrival_Time                                                   15855 non-null timedelta64[ns]
Response_Time                                                  15855 non-null int64
dtypes: float64(3), int64(41), object(25), timedelta64[ns](6)
memory usage: 9.2+ MB

In [2]:
#Remove any recoreds without  time informaiton for arival and crash time
count_no_rec= Accident_df[(Accident_df['hour_of_crash']>24) | (Accident_df['hour_of_arrival_at_scene']>24)]
Accident_df = Accident_df[(Accident_df['hour_of_crash']<=24) & (Accident_df['hour_of_arrival_at_scene']<=24)]
print(count_no_rec.consecutive_number.count(), 'records were removed due to missing time data.')

18584 records were removed due to missing time data.

In [3]:
# Add a new Feature. This is the ratio between the number of fatalities and the people involved in the accident.
Accident_df['Fatalities_ratio'] = Accident_df.number_of_fatalities/(Accident_df.number_of_persons_not_in_motor_vehicles_in_transport_mvit + Accident_df.number_of_persons_in_motor_vehicles_in_transport_mvit)

#Converts hour and min to datetime type
#crash
Accident_df.hour_of_crash = pd.to_timedelta(Accident_df.hour_of_crash,unit ='h')
Accident_df.minute_of_crash= pd.to_timedelta(Accident_df.minute_of_crash,unit ='m')
#arrival
Accident_df.hour_of_arrival_at_scene = pd.to_timedelta(Accident_df.hour_of_arrival_at_scene,unit ='h')
Accident_df.minute_of_arrival_at_scene = pd.to_timedelta(Accident_df.minute_of_arrival_at_scene,unit ='m')

#concatenates Hour and Minutes together 
Accident_df['Crash_Time'] = Accident_df['hour_of_crash'] + Accident_df['minute_of_crash'] 
Accident_df['Arrival_Time'] = Accident_df['hour_of_arrival_at_scene'] + Accident_df['minute_of_arrival_at_scene']
#creates a response_time variable from the two fields above and converts to min
Accident_df['Response_Time'] = Accident_df['Arrival_Time'] - Accident_df['Crash_Time']
total_response_time_in_min = pd.DatetimeIndex(Accident_df['Response_Time'])
Accident_df['Response_Time']= total_response_time_in_min.hour * 60 + total_response_time_in_min.minute


#gut check of calculation 
Accident_df[['hour_of_crash','minute_of_crash','Crash_Time','hour_of_arrival_at_scene','minute_of_arrival_at_scene','Arrival_Time','Response_Time']].head()

,hour_of_crash,minute_of_crash,Crash_Time,hour_of_arrival_at_scene,minute_of_arrival_at_scene,Arrival_Time,Response_Time
1,02:00:00,00:33:00,02:33:00,03:00:00,00:25:00,03:25:00,52
12,01:00:00,00:39:00,01:39:00,01:00:00,00:46:00,01:46:00,7
33,18:00:00,00:58:00,18:58:00,18:00:00,00:31:00,18:31:00,1413
40,20:00:00,00:00:00,20:00:00,19:00:00,00:38:00,19:38:00,1418
54,19:00:00,00:26:00,19:26:00,19:00:00,00:39:00,19:39:00,13

The National Fire Protection Association's (NFPA) has established standard for response time and procedures for Emergency Medical Service (EMS) to adhere to. 

From EMSword.com "The NFPA 1710 standard is based upon a combination of accepted practices and more than 30 years of study, research, testing and validation. Members of the 1710 committee that developed the standard include representatives from various fire agencies and the International Association of City/County Managers (ICMA)."

The NFPA 1710 standard allows for a one-minute call evaluation and preparation, four minutes for the arrival of a unit with first responder. For a situation that requires an advanced life support equipment like an ambulance, their standard is 8 minutes after the call preparation.  

We chose to use their standards as threshold to determine if the paramedics got to the scene of the accident in time. This would be a binary response 0, for not arriving within 9 minutes of the accident and 1 for being within the 9 minutes. 
Source: https://www.emsworld.com/article/10324786/ems-response-time-standards

In [18]:
#creates the binary variable 'within 9 minutes NFPA standard'
Accident_df['within 9 minutes NFPA standard'] = np.where(Accident_df['Response_Time']<=9,1,0)
#Accident_df[['Response_Time','within 9 minutes NFPA standard']].head(10) # Verify the binary variable

    Response_Time  within 9 minutes NFPA standard
1              52                               0
12              7                               1
33           1413                               0
40           1418                               0
54             13                               0
56             12                               0
59             11                               0
60              5                               1
62             38                               0
63              8                               1

### Logistic Regression Model

In [6]:
# Check for columns that might not be needed
#Accident_df.info()
#list(Accident_df)
Accident_df.route_signing_name.unique()

In [9]:
#Make a copy of the original Data
Accident_forLr=Accident_df.copy()

# 1. Remove attributes that just arent useful for us
for col in ['Unnamed: 0',
             'state_number',
             'consecutive_number',
             'county',
             'city',
             'day_of_crash',
             'month_of_crash',
             'year_of_crash',
             'day_of_week',
             'hour_of_crash',
             'minute_of_crash',
             'national_highway_system',
             'land_use',
             'land_use_name',
             'functional_system',
             'functional_system_name',
             'ownership',
             'ownership_name',
             'route_signing',
             'trafficway_identifier',
             'trafficway_identifier_2',
             'latitude',
             'longitude',
             'special_jurisdiction',
             'special_jurisdiction_name',
             'first_harmful_event',
             'first_harmful_event_name',
             'manner_of_collision',
             'manner_of_collision_name',
             'relation_to_junction_within_interchange_area',
             'relation_to_junction_specific_location',
             'relation_to_junction_specific_location_name',
             'type_of_intersection',
             'work_zone',
             'relation_to_trafficway',
             'relation_to_trafficway_name',
             'light_condition',
             'light_condition_name',
             'atmospheric_conditions_1',
             'atmospheric_conditions_1_name',
             'atmospheric_conditions_2',
             'atmospheric_conditions_2_name',
             'atmospheric_conditions',
             'school_bus_related',
             'rail_grade_crossing_identifier',
             'hour_of_notification',
             'minute_of_notification',
             'hour_of_arrival_at_scene',
             'minute_of_arrival_at_scene',
             'hour_of_ems_arrival_at_hospital',
             'minute_of_ems_arrival_at_hospital',
             'related_factors_crash_level_1',
             'related_factors_crash_level_1_name',
             'related_factors_crash_level_2',
             'related_factors_crash_level_2_name',
             'related_factors_crash_level_3',
             'related_factors_crash_level_3_name',
             'milepoint',
             'number_of_parked_working_vehicles',
             'number_of_forms_submitted_for_persons_not_in_motor_vehicles',
             'number_of_persons_not_in_motor_vehicles_in_transport_mvit',
             'number_of_persons_in_motor_vehicles_in_transport_mvit',
             'number_of_forms_submitted_for_persons_in_motor_vehicles',
             'timestamp_of_crash',
             'number_of_fatalities',
             'number_of_drunk_drivers',
             'Fatalities_ratio',
             'number_of_vehicle_forms_submitted_all',
             'Crash_Time',
             'Arrival_Time',
             'Response_Time',
             'number_of_motor_vehicles_in_transport_mvit']:
                    if col in Accident_forLr:
                        del Accident_forLr[col]
# List the columns left in the df
list(Accident_forLr)

#Accident_forLr.head(20)

,state_name,route_signing_name,atmospheric_conditions_name,OnTime
1,Arizona,U.S. Highway,Not Reported,0
12,Arizona,Local Street – Municipality,Not Reported,1
33,Arizona,Other,Not Reported,0
40,Arizona,Other,Not Reported,0
54,Maine,Local Street – Municipality,Cloudy,0
56,New Jersey,U.S. Highway,Cloudy,1
59,Ohio,Interstate,Cloudy,1
60,Ohio,U.S. Highway,Clear,1
62,Ohio,Unknown,Unknown,0
63,Texas,Interstate,Cloudy,1
66,Alabama,U.S. Highway,Rain,1
67,Alabama,U.S. Highway,Rain,0
68,Alabama,U.S. Highway,Cloudy,0
69,Alabama,U.S. Highway,Cloudy,1
70,Alabama,U.S. Highway,Clear,1
71,Alabama,U.S. Highway,Cloudy,0
72,Alabama,U.S. Highway,Cloudy,1
73,Alabama,U.S. Highway,Clear,1
74,Alabama,U.S. Highway,Clear,0
75,Alabama,U.S. Highway,Clear,0

In [10]:
# Drop rows with an unknown informaiton in the route, atmospheric conditions and state name
Accident_forLr= Accident_forLr[(Accident_forLr['route_signing_name'] != 'Unknown')]
Accident_forLr= Accident_forLr[(Accident_forLr['route_signing_name'] != 'Other')]
Accident_forLr= Accident_forLr[(Accident_forLr['atmospheric_conditions_name'] != 'Unknown')]
Accident_forLr= Accident_forLr[(Accident_forLr['atmospheric_conditions_name'] != 'Other')]
Accident_forLr= Accident_forLr[(Accident_forLr['atmospheric_conditions_name'] != 'Not Reported')]
Accident_forLr.count()

# Rearrange colums
Accident_forLr=Accident_forLr[['within 9 minutes NFPA standard','state_name','route_signing_name','atmospheric_conditions_name']]
#list(Accident_forLr)  # Check for the correct column sequence

In [11]:
# perform one-hot encoding of the categorical data "state_name"
tmp_state_df = pd.get_dummies(Accident_forLr.state_name,prefix='state')
#tmp_state_df.head(20)

# perform one-hot encoding of the categorical data "route_signing_name"
tmp_route_df = pd.get_dummies(Accident_forLr.route_signing_name,prefix='route')
#tmp_route_df.head(20)

# perform one-hot encoding of the categorical data "atmospheric_conditions_name"
tmp_atmos_df = pd.get_dummies(Accident_forLr.atmospheric_conditions_name,prefix='atmos')
#tmp_atmos_df.head(20)

Accident_forLr = pd.concat((Accident_forLr,tmp_state_df,tmp_route_df,tmp_atmos_df),axis=1) # add back into the dataframe
list(Accident_forLr)
#delete the categorical variable columns
del Accident_forLr['state_name']
del Accident_forLr['route_signing_name']
del Accident_forLr['atmospheric_conditions_name']

#list(Accident_forLr) # Check for the last colums

In [12]:
#Accident_forLr.count() # Count Records and show columns

OnTime                                             14354
state_Alabama                                      14354
state_Alaska                                       14354
state_Arizona                                      14354
state_Arkansas                                     14354
state_California                                   14354
state_Colorado                                     14354
state_Connecticut                                  14354
state_Delaware                                     14354
state_District of Columbia                         14354
state_Florida                                      14354
state_Georgia                                      14354
state_Hawaii                                       14354
state_Idaho                                        14354
state_Illinois                                     14354
state_Iowa                                         14354
state_Kansas                                       14354
state_Kentucky                                     14354
state_Louisiana                                    14354
state_Maine                                        14354
state_Massachusetts                                14354
state_Michigan                                     14354
state_Minnesota                                    14354
state_Mississippi                                  14354
state_Missouri                                     14354
state_Montana                                      14354
state_Nebraska                                     14354
state_Nevada                                       14354
state_New Hampshire                                14354
state_New Jersey                                   14354
                                                   ...
state_Oregon                                       14354
state_Pennsylvania                                 14354
state_Rhode Island                                 14354
state_South Dakota                                 14354
state_Tennessee                                    14354
state_Texas                                        14354
state_Utah                                         14354
state_Vermont                                      14354
state_Virginia                                     14354
state_Washington                                   14354
state_West Virginia                                14354
state_Wisconsin                                    14354
state_Wyoming                                      14354
route_County Road                                  14354
route_Interstate                                   14354
route_Local Street – Frontage Road (Since 1994)    14354
route_Local Street – Municipality                  14354
route_Local Street – Township                      14354
route_State Highway                                14354
route_U.S. Highway                                 14354
atmos_Blowing Sand, Soil, Dirt                     14354
atmos_Blowing Snow                                 14354
atmos_Clear                                        14354
atmos_Cloudy                                       14354
atmos_Fog, Smog, Smoke                             14354
atmos_Freezing Rain or Drizzle                     14354
atmos_Rain                                         14354
atmos_Severe Crosswinds                            14354
atmos_Sleet, Hail                                  14354
atmos_Snow                                         14354
Length: 66, dtype: int64

### Data Split
Training and Test

In [15]:
# Code addapted from the Dataming Notbooks. Logistic Regression Notbook 4.
from sklearn.model_selection import ShuffleSplit

# we want to predict the X and y data as follows:
if 'OnTime' in Accident_forLr:
    y = Accident_forLr['OnTime'].values # get the labels we want
    del Accident_forLr['OnTime'] # get rid of the class label
    X = Accident_forLr.values # use everything else to predict!
    
        ## X and y are now numpy matrices, by calling 'values' on the pandas data frames we
        #    have converted them into simple matrices to use with scikit learn

# to use the cross validation object in scikit learn, we need to grab an instance
#    of the object and set it up. This object will be able to split our data into 
#    training and testing splits
num_cv_iterations = 10
num_instances = len(y)

# Cross Validation Object
cv_object = ShuffleSplit(n_splits=num_cv_iterations,
                         test_size  = 0.2)
                         
print(X)
print(cv_object)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
ShuffleSplit(n_splits=10, random_state=None, test_size=0.2, train_size=None)

In [16]:
# Code addapted from the Dataming Notbooks. Logistic Regression Notbook 4.
# run logistic regression and vary some parameters
from sklearn.linear_model import LogisticRegression
from sklearn import metrics as mt

# first we create a reusable logisitic regression object
#   here we can setup the object with different learning parameters and constants
OnTime_lr_clf = LogisticRegression(penalty='l2', C=1.0, class_weight=None) # get object

# now we can use the cv_object that we setup before to iterate through the 
#    different training and testing sets. Each time we will reuse the logisitic regression 
#    object, but it gets trained on different data each time we use it.

iter_num=0
# the indices are the rows used for training and testing in each iteration
for train_indices, test_indices in cv_object.split(X,y): 
    # I will create new variables here so that it is more obvious what 
    # the code is doing (you can compact this syntax and avoid duplicating memory,
    # but it makes this code less readable)
    X_train = X[train_indices]
    y_train = y[train_indices]
    
    X_test = X[test_indices]
    y_test = y[test_indices]
    
    # train the reusable logisitc regression model on the training data
    OnTime_lr_clf.fit(X_train,y_train)  # train object
    y_hat = OnTime_lr_clf.predict(X_test) # get test set precitions

    # now let's get the accuracy and confusion matrix for this iterations of training/testing
    acc = mt.accuracy_score(y_test,y_hat)
    conf = mt.confusion_matrix(y_test,y_hat)
    print("====Iteration",iter_num," ====")
    print("accuracy", acc )
    print("confusion matrix\n",conf)
    iter_num+=1
    
# Also note that every time you run the above code
#   it randomly creates a new training and testing set, 
#   so accuracy will be different each time

====Iteration 0  ====
accuracy 0.6339254615116684
confusion matrix
 [[ 519  643]
 [ 408 1301]]
====Iteration 1  ====
accuracy 0.6579588993382097
confusion matrix
 [[ 554  615]
 [ 367 1335]]
====Iteration 2  ====
accuracy 0.640891675374434
confusion matrix
 [[ 482  701]
 [ 330 1358]]
====Iteration 3  ====
accuracy 0.6300940438871473
confusion matrix
 [[ 490  669]
 [ 393 1319]]
====Iteration 4  ====
accuracy 0.644723092998955
confusion matrix
 [[ 487  692]
 [ 328 1364]]
====Iteration 5  ====
accuracy 0.6516893068617207
confusion matrix
 [[ 499  657]
 [ 343 1372]]
====Iteration 6  ====
accuracy 0.6422849181469871
confusion matrix
 [[ 536  607]
 [ 420 1308]]
====Iteration 7  ====
accuracy 0.6353187042842215
confusion matrix
 [[ 500  648]
 [ 399 1324]]
====Iteration 8  ====
accuracy 0.6283524904214559
confusion matrix
 [[ 479  700]
 [ 367 1325]]
====Iteration 9  ====
accuracy 0.6506443747823059
confusion matrix
 [[ 526  665]
 [ 338 1342]]

### Support Vector Machine Model

## Model Discussion

## Logistic Regression Weight Interpretation

## Insights based on the Classification Task